# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Директории
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Установленные пакеты
*.egg-info/
dist/
build/
eggs/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# Файлы конфигурации
*.db
*.sqlite3
